<%= form_for @item, html: {class: "form-horizontal"} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Pavadinimas, class: "col col-xs-2 control-label" %>
    <span class="col col-xs-4">
    <%= f.text_field :name, class: "form-control input-with-feedback" %>
    </span>
    <%= f.label :lot, class: "col col-xs-1 control-label" %>
    <span class="col col-xs-4">
    <%= f.text_field :latin, class: "form-control input-with-feedback" %>
    </span>
  </div>
  <div class="form-group">
    <%= f.label :Aukštis, class: "col col-xs-2 control-label" %>
    <span class="col col-xs-2">
    <%= f.number_field :height, class: "form-control input-with-feedback" %>
    </span>
    <%= f.label :Plotis, class: "col col-xs-1 control-label" %>
    <span class="col col-xs-2">
    <%= f.number_field :width, class: "form-control input-with-feedback" %>
    </span>
  </div>
  <div class="form-group">
    <%= f.label :Žydi, class: "col col-xs-2 control-label" %>
    <span class="col col-xs-2">
    <%=
      select(:item, :bloom1, ItemsController.monthOptions(), {}, {class: "form-control input-with-feedback"})
    %>
    </span>
    <span class="col col-xs-2">
    <%=
      select(:item, :bloom2, ItemsController.monthOptions(), {}, {class: "form-control input-with-feedback"})
    %>
    </span>
  </div>
  <div class="form-group">
    <%= f.label :Spalva, class: "col col-xs-2 control-label" %>
    <span class="col col-xs-3">
    <%= f.text_field :color, class: "form-control input-with-feedback" %>
    </span>
    <%= f.label :Sąlygos, class: "col col-xs-2 control-label" %>
    <span class="col col-xs-4">
    <%= f.text_field :conditions, class: "form-control input-with-feedback" %>
    </span>
  </div>
  <div class="form-group">
    <%= f.label :Nuotrauka, class: "col col-xs-2 control-label" %>
    <span class="col col-xs-9">
    <%= f.file_field :picture, class: "input-with-feedback" %>
    </span>
  </div>
  <div class="form-group">
    <div class="col col-xs-10 col-xs-offset-2">
    <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
