
<ul class="nav">
Aukštis:
<span class="btn-group">
<%= link_to 'Visi', params.merge(:h=>nil), :class => (@parH==0 ? "btn btn-primary btn-sm" : "btn btn-default btn-sm") %>
<%= link_to '< 80', params.merge(:h=>1), :class => (@parH==1 ? "btn btn-primary btn-sm" : "btn btn-default btn-sm") %>
<%= link_to '80-120', params.merge(:h=>2), :class => (@parH==2 ? "btn btn-primary btn-sm" : "btn btn-default btn-sm") %>
<%= link_to '> 120', params.merge(:h=>3), :class => (@parH==3 ? "btn btn-primary btn-sm" : "btn btn-default btn-sm") %>
</span>

&nbsp;Žydėjimas:
<div class="btn-group">
<%= link_to raw(ItemsController.months()[@parB] + " <span class='caret'></span>"),
    params.merge(:b=>nil),
    :class => (@parB!=0 ? "btn btn-primary btn-sm dropdown-toggle" : "btn btn-default btn-sm dropdown-toggle"),
    "data-toggle" => "dropdown" %>
<ul class="dropdown-menu" role="menu">
    <% ItemsController.months().each_with_index do |mo, index| %>
        <li><%= link_to mo, params.merge(:b=>index)%></li>
    <% end %>
</ul>
</div>
</ul>
<br/>

<p>Rezultatai: <span class="badge"><%= @items.count %></span></p>

<table class="table table-striped">
  <tr>
    <th>Pavadinimas</th>
    <th>Aukštis</th>
    <th>Plotis</th>
    <th>Spalva</th>
    <th>Žydi</th>
    <th>Aprašymas</th>
    <th>Nuotrauka</th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= link_to (raw "#{h item.name} <i>(#{h item.latin})</i>"), item %></td>
    <td class="text-right"><%= item.height %></td>
    <td class="text-right"><%= item.width %></td>
    <td><%= item.color %></td>
    <td><small><%= ItemsController.months()[item.bloom1] %>-<%= ItemsController.months()[item.bloom2] %></small></td>
    <td><%= item.conditions %></td>
    <td><%= image_tag(item.picture_url, :width => 100) if item.picture.present? %></td>
    <td><%= link_to 'Edit', edit_item_path(item), :class => "btn btn-default btn-xs"  %></td>
    <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'Pridėti naują', new_item_path, :class => "btn btn-primary" %></p>
