<p id="notice"><%= notice %></p>

<p><%= link_to 'Atgal', items_path, :class => "btn btn-default btn-sm" %></p>

<p>
<div class="row">
  <div class="col col-xs-2">Pavadinimas:</div><div class="col col-xs-10"><b><%= @item.name %></b> <i>(<%= @item.latin %>)</i></div>
</div>
<div class="row">
  <div class="col col-xs-2">Aukštis:</div><div class="col col-xs-10"><%= @item.height %></div>
</div>
<div class="row">
  <div class="col col-xs-2">Plotis:</div><div class="col col-xs-10"><%= @item.width %></div>
</div>
<div class="row">
  <div class="col col-xs-2">Spalva:</div><div class="col col-xs-10"><%= @item.color %></div>
</div>
<div class="row">
  <div class="col col-xs-2">Žydi:</div><div class="col col-xs-10">
    <%= ItemsController.months()[@item.bloom1] %> -
    <%= ItemsController.months()[@item.bloom2] %>
  </div>
</div>
<div class="row">
  <div class="col col-xs-2">Sąlygos:</div><div class="col col-xs-10"><%= @item.conditions %></div>
</div>
<div class="row">
  <div class="col col-xs-2">Nuotrauka:</div><div class="col col-xs-10"><%= image_tag(@item.picture_url, :width => 300) if @item.picture.present? %></div>
</div>
</p>

<p><%= link_to 'Redaguoti', edit_item_path(@item), :class => "btn btn-primary" %></p>
